﻿
@{
    ViewBag.Title = "NoticeBoard";
}

<div class="page-header">
    <h3 class="page-title">
        Notice Board
    </h3>
</div>
<a href="#" class="btn btn-primary myformbtn">Notice Board</a>
<!-- start add Fees form -->
<div class="row myform">
    <div class="col-md-6 grid-margin stretch-card m-auto">
        <div class="card box-shadow">
            <div class="card-body text-center">
                <a href="#" class="crossbtn btn btn-link btn-sm float-right">X</a>
                <h4 class="card-title"> Notice Board</h4>
                <form class="forms-sample">

                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" placeholder="Enter Subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Enter Notes"></textarea>
                    </div>

                    <div class="form-group text-center m-0">
                        <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end add Fees form -->

<br /><br />
<br /><br />
<!-- start Student Details -->
<div class="row ">
    <div class="col-md-12 grid-margin">
        <div class="card box-shadow">
            <div class="card-body text-left">
                <h4 class="card-title">Personal Notes</h4>
                <div class="row notification">
                    <div class="col-sm-6 grid-margin alert">
                        <div class="alert-info">
                            <a href="#" class="close" data-dismiss="alert" aria-label="Edit">
                                <i class="mdi mdi-delete-circle-outline menu-icon"></i>
                            </a>
                            <a href="#" class="close myformbtn">
                                <i class="mdi mdi-circle-edit-outline menu-icon "></i>
                            </a>
                            <h4>What is Lorem Ipsum?</h4>
                            <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                        </div>
                    </div>
                    <div class="col-sm-6 grid-margin alert">
                        <div class="alert-info">
                            <a href="#" class="close" data-dismiss="alert" aria-label="Edit">
                                <i class="mdi mdi-delete-circle-outline menu-icon"></i>
                            </a>
                            <a href="#" class="close myformbtn">
                                <i class="mdi mdi-circle-edit-outline menu-icon "></i>
                            </a>
                            <h4>What is Lorem Ipsum?</h4>
                            <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum s simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                        </div>
                    </div>
                    <div class="col-sm-6 grid-margin alert">
                        <div class="alert-info">
                            <a href="#" class="close" data-dismiss="alert" aria-label="Edit">
                                <i class="mdi mdi-delete-circle-outline menu-icon"></i>
                            </a>
                            <a href="#" class="close myformbtn">
                                <i class="mdi mdi-circle-edit-outline menu-icon "></i>
                            </a>
                            <h4>What is Lorem Ipsum?</h4>
                            <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                        </div>
                    </div>
                    <div class="col-sm-6 grid-margin alert">
                        <div class="alert-info">
                            <a href="#" class="close" data-dismiss="alert" aria-label="Edit">
                                <i class="mdi mdi-delete-circle-outline menu-icon"></i>
                            </a>
                            <a href="#" class="close myformbtn">
                                <i class="mdi mdi-circle-edit-outline menu-icon "></i>
                            </a>
                            <h4>What is Lorem Ipsum?</h4>
                            <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                        </div>
                    </div>
                    <div class="col-sm-6 grid-margin alert">
                        <div class="alert-info">
                            <a href="#" class="close" data-dismiss="alert" aria-label="Edit">
                                <i class="mdi mdi-delete-circle-outline menu-icon"></i>
                            </a>
                            <a href="#" class="close myformbtn">
                                <i class="mdi mdi-circle-edit-outline menu-icon "></i>
                            </a>
                            <h4>What is Lorem Ipsum?</h4>
                            <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end detail -->
